@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Custom default button */
.btn-default {
  color: #ffffff;
  text-shadow: none;
  cursor: pointer;
  /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0.5rem 2rem;
  box-shadow: none !important;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(245, 245, 245, 0.3686274509803922) !important;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #666666;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  background:linear-gradient(120deg, #ff8800, #ff3300);
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

.fab {
  color: #ffffff;
}

.fas {
  color: #ffffff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
}

.cover-heading {
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #222222;
  /* filter: blur(0.6px); */
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 3.4rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 500px;
  margin: 0 auto 3rem;
  color: #222222;
}

/*
 * Footer
 */
.mastfoot {
  color: #ffffff;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1060px;
  }
}

/*
 * Custom Scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ff3300;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}
