@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Custom default button */
.btn-default {
  color: #dcb697;
  text-shadow: none;
  cursor: pointer;
  /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0.5rem 2rem;
  box-shadow: rgba(3, 4, 8, 0.05) 0px 6px 24px 0px,
    rgba(3, 4, 8, 0.08) 0px 0px 0px 1px !important;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(4, 3, 8, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    to top,
    #040308,
    #ad4a28,
    #dd723c,
    #fc7001,
    #dcb697,
    #9ba5ae,
    #3e5879,
    #020b1a
  );
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  filter: blur(0.3px);
  color: #dcb697;
  text-shadow: 0px 3px 0px #040308, 0px 14px 10px rgba(220, 182, 151, 0.15),
    0px 24px 2px rgba(220, 182, 151, 0.1),
    0px 34px 30px rgba(220, 182, 151, 0.1);
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

.fab {
  text-shadow: 0px 3px 0px #040308, 0px 14px 10px rgba(220, 182, 151, 0.15),
    0px 24px 2px rgba(220, 182, 151, 0.1),
    0px 34px 30px rgba(220, 182, 151, 0.1);
  color: #dcb697;
  filter: blur(0.3px);
}

.fas {
  text-shadow: 0px 3px 0px #040308, 0px 14px 10px rgba(220, 182, 151, 0.15),
    0px 24px 2px rgba(220, 182, 151, 0.1),
    0px 34px 30px rgba(220, 182, 151, 0.1);
  color: #dcb697;
  filter: blur(0.3px);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
}

.cover-heading {
  font-weight: 500;
  letter-spacing: 10px;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #040308;
  filter: blur(0.6px);
  text-shadow: 0px 3px 0px #dcb697, 0px 14px 10px rgba(4, 3, 8, 0.15),
    0px 24px 2px rgba(4, 3, 8, 0.1), 0px 34px 30px rgba(4, 3, 8, 0.1);
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 3.4rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 500px;
  margin: 0 auto 3rem;
  color: #040308;
}

/*
 * Footer
 */
.mastfoot {
  color: #dcb697;
}

/*
 * Subscribe modal box
 */
#subscribeModal .modal-content {
  background-color: #303546;
  color: #fff;
  text-align: left;
}

#subscribeModal .modal-header,
#subscribeModal .modal-footer {
  border: 0;
}

#subscribeModal .close {
  color: #fff;
}

#subscribeModal .form-control {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#subscribeModal .form-control:focus {
  border-color: #49506a;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1060px;
  }
}

/*
 * Custom Scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dcb697;
}

::-webkit-scrollbar-thumb {
  background: #040308;
}
